# Project exclude paths
/.idea/
/node_modules/
/packages/common/node_modules/
/packages/io/node_modules/
/packages/manager/node_modules/
/packages/manager/config/
/packages/manager/errors.log
/packages/web/node_modules/
/packages/web/build/
yarn.lock
/packages/web/.eslintcache
/packages/manager/dev-CA.pem